<nav>
    <ul>
        <a href="/">MOVIEMAGIC</a>
        <form action="search" method="POST">
            <input type="text" name="search" id="search">
            <input type="submit" name="search" value="Search" id="searchButton">
        </form>
    </ul>
</nav>